{% extends "layoutChefs.njk" %}


    <head>
        {% block head %}
            <meta charset="UTF8">
            <meta name="viewport" content="width=device-widht, initial-scale=1.0">
            <title>Foodfy</title>
        {% endblock %}
    </head>

{% block content %}
    <form class="content" method="POST" action="/admin/chefs" enctype="multipart/form-data">
        <div class="container-buttons">
            <p></p>
            <button id="button_salvar" type="submit">Salvar Chef</button>
        </div>                    
       {% include 'admin/chefs/fields.njk' %}

    </form>
{% endblock %}
    
    

   