{% extends "layoutChefs.njk" %}

{% block content %}

<form class="content" method="POST" action="/admin/chefs?_method=PUT" enctype="multipart/form-data">

        
    <div class="container">
         <div class="container-buttons delete">
            <h2>Editando chef</h2>
            <button id="salvar" type="submit">Salvar chef</button>

            <form action="/admin/chefs?_method=DELETE" method="post">
                <input type="hidden" name="id" value={{ chef.id }}>
                <button class="delete" type="submit">Deletar</button>
            </form>
                                    
        </div>

        {% include 'admin/chefs/fields.njk' %}

        <input type="hidden" name="id" value={{ chef.id }}>

    </div>
</form>   


{% endblock %}