

    <div class="cards">
        <div class="card">
                
            <div class="item">
                <h3>Nome do Chef</h3>
                <div id="titles">
                    <div class="inputWithIcon">
                        <input 
                            type="text" 
                            name="name"
                            placeholder="Nome do chef" 
                            value="{{ chef.name }}"
                            
                        >
                        <i class="fa fa-user fa-lg fa-fw" aria-hidden="true"></i>
                    </div>
                </div>
            </div>

            <div class="item">
                <h3>Avatar do Chef</h3>
                <div id="images">
                    <div id="photos-upload">
                        <input 
                            id="photos-input"
                            type="file" 
                            name="image" 
                            accept="image/*"
                        >
                        <p class="buttons" id="button_avatar">Enviar avatar</p>

                    </div>
                </div>
            </div>
            <input type="hidden" name="id" value="{{ chef.id }}">
        </div>
    </div>
