

    <div class="cards">
        <div class="card">
                
            <div class="item">
                <h3>Nome do Chef</h3>
                <div id="titles">
                    <div class="title">
                        <input 
                            type="text" 
                            name="name"
                            placeholder="Nome do chef" 
                            value="{{ chef.name }}"
                        >
                    </div>
                </div>
            </div>

            <div class="item">
                <h3>Avatar do Chef</h3>
                <div id="images">
                        <div class="image">
                            <input 
                                type="url" 
                                name="avatar_url" 
                                placeholder="http://" 
                                value=" {{ chef.avatar_url }}"
                            >
                        </div>
                </div>
            </div>
            
        </div>
    </div>
