

    <div class="cards">
        <div class="card">
                
            <div class="item">
                <h3>Nome do Chef</h3>
                <div id="titles">
                    <div class="title">
                        <input 
                            type="text" 
                            name="name"
                            placeholder="Nome do chef" 
                            value="{{ chef.name }}"
                        >
                    </div>
                </div>
            </div>

            <div class="item">
                <h3>Avatar do Chef</h3>
                <div id="images">
                        <div class="image">
                            <input 
                                id="photos-input"
                                type="file" 
                                name="photos" 
                                accept="images/*"
                            >
                            <p class="buttons" id="button_avatar">Enviar avatar</p>
                        </div>
                    <input type="hidden" name="id" value="{{ chef.id }}">
                </div>
            </div>
            
        </div>
    </div>
