{% extends "layoutAdmin.njk" %}


    <head>
        {% block head %}
            <meta charset="UTF8">
            <meta name="viewport" content="width=device-widht, initial-scale=1.0">
            
            <title>Foodfy</title>
        {% endblock %}
    </head>

    
{% block content %}
    <div class="content">
        <div class="container">

            <h2>Gerenciar Chefs</h2>

            <a class="buttons" href="/admin/chefs/create">Cadastrar chef</a>

            <div class="cards">
                {% for chef in chefs %}
                    <div class="card">
                        <img src="{{ chef.avatar_url }}" alt="">
                        <h3>{{ chef.name}}</h3>
                        <span class="autor">por {{ chef.name }}</span><br>
                        <a href="/admin/chefs/{{ chef.id }}">Visualizar</a>                       
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
    
    

   