{% extends "./layoutChefs.njk" %}


    <head>
        {% block head %}
            <meta charset="UTF8">
            <meta name="viewport" content="width=device-widht, initial-scale=1.0">
            
            <title>Foodfy</title>
        {% endblock %}
    </head>

    
{% block content %}
    <div class="content">
        <div class="container">
            {% if session.isAdmin %}
            <div class="container-buttons">
                <h2>Gerenciar Chefs</h2>

                <a class="buttons" id="cadastrar" href="/admin/chefs/create">Cadastrar chef</a>
            </div>
            {%endif%}
            
            <div class="cards">
                {% for chef in chefs %}
                    <div class="card-chefs">
                        <img class="img-chefs" src="{{chef.image}}" alt="">
                        <div class="text">   
                            <span class="chef">{{ chef.name}}</span><br>
                                <p class="chef">
                                    {% if chef.total_recipes > 1 %}
                                        {{ chef.total_recipes }} receitas
                                    {% elif chef.total_recipes == 0 %}
                                        Nenhuma receita cadastrada.
                                    {% else %}
                                        {{ chef.total_recipes }} receita
                                    {% endif %}
                                </p>

                            <a href="/admin/chefs/{{ chef.id }}">Visualizar
                            </a>
                        </div> 
                    </div>
                {% endfor %}
            </div>
        </div>
    <div 
        class="pagination" 
        data-page="{{ pagination.page }}" 
        data-total="{{ pagination.total }}" 
        data-filter="{{ filter }}"
    ></div>
    
    </div>
{% endblock %}
    
    

   