<!DOCTYPE html>
<html lang="pt-br">

    <head>
        {% block head %}  
          <title>Foodfy - Chefs Admin</title>     
        {% endblock %}

        {% include "parts/stylesChefAdmin.njk" %} 
    </head>
    <body>
        {% include 'parts/messages.njk' %}

        {% include 'parts/headerAdmin.njk' %}

        {% block content %} {% endblock %}

        {% include "parts/footer.njk" %}

    </body>
</html>