<!DOCTYPE html>
<html lang="pt-br">

    <head>
        {% block head %}  
            <title>Foodfy - Chefs</title>   
            <link rel="stylesheet" href="/styles/chefsAdmin.css">  
            <link rel="stylesheet" href="/styles/style.css">
            <link rel="stylesheet" href="/styles/messages.css">
            <link rel="stylesheet" href="/styles/orders.css">
            
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet">

            <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
        {% endblock %}

        {# {% include "admin/parts/styles.njk" %}   #}
    </head>
    <body>
        {% include 'home/parts/messages.njk' %}

        {% include 'admin/parts/headerAdmin.njk' %}

        {% block content %} {% endblock %}

        {% include "home/parts/footer.njk" %}

    </body>
</html>