{% extends "./layoutUsers.njk" %}

{% block head %}
    <meta charset="UTF8">
    <meta name="viewport" content="width=device-widht, initial-scale=1.0">
    <title>Foodfy - Atualizar Usuário</title>
{% endblock %}

{% block content %}
    <div class="content">
        <div class="forms-actions">
            <form method="POST" action="/admin/users?_method=PUT">
                <div class="container-buttons">
                    <h2>Atualizar Usuário</h2>
                    <button id="salvar" type="submit">Salvar</button>
                    <input type="hidden" name="id" value={{user.id}}>
                </div>

                {% include 'admin/users/fields.njk' %}
            </form>

            <form action="/admin/users?_method=DELETE" method="post" id="delete-user" class="delete">
                <button class="delete" type="submit">Deletar</button>
                <input type="hidden" name="id" value="{{user.id}}">
            </form>
        </div>
    </div>
            <script src="/scripts/deleteConfirm.js"></script>
{% endblock content %}