{% extends "./layoutUsers.njk" %}


    <head>
        {% block head %}
            <meta charset="UTF8">
            <meta name="viewport" content="width=device-widht, initial-scale=1.0">
            
            <title>Foodfy</title>
        {% endblock %}
    </head>

    
{% block content %}
    <div class="content">
        <div class="container">
            <div class="container-buttons">
                <h2>Usuários</h2>

                <a class="buttons" id="cadastrar" href="/admin/users/create">Novo</a>
            </div>

            <div class="cards">
                {% for user in users %}
                    <div class="card-users">
                        <div class="text">   
                            <p>{{user.name}}</p>
                            <p>{{user.email}}</p>

                            <div class="links users">
                                <a href="/admin/users/{{ user.id }}/edit">Editar</a>

                                <form id="delete-user" action="/admin/users?_method=DELETE" method="post">
                                    <input type="hidden" name="id" value={{user.id}}>
                                    <button type="submit">Excluir</button>
                                </form>
                                
                            </div>
                        </div> 
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
    
    

   