{% extends "./layout.njk" %}


    <head>
        {% block head %}
            <meta charset="UTF8">
            <meta name="viewport" content="width=device-widht, initial-scale=1.0">
            <link rel="stylesheet" href="/styles/index.css">
            <title>Foodfy</title>
        {% endblock %}
    </head>

{% block content %}

    <div class="content">

        <div class="banner">
            <div class="banner__texto">
                <h1>As melhores receitas</h1>
                <p>Aprenda a construir os melhores pratos
                   com receitas criadas por profissionais
                   do mundo inteiro. 
                </p>
            </div>
            <img src="/images/chef.png" alt="image chef">
        </div>

        <div class="container">
            <h2>Mais acessadas</h2>

            <div class="cards">
                {% for recipe in recipes %}
                    <div class="card">
                        <img src="{{ recipe.image }}" alt="">
                        <div class="card__text">
                            <h3>{{ recipe.title }}</h3>
                            <span class="autor">por {{recipe.chef_name}} </span>
                        </div>                      
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
    
