<!DOCTYPE html>
<html lang="pt-br">

    <head>
        {% block head %}       
        {% endblock %}
        <meta charset="UTF8">
        <link rel="stylesheet" href="/styles/style.css">
        
    </head>
<body>
    {% include 'parts/headerHome.njk' %}     

        <div class="content"></div> 
   
    
    {% block content %} {% endblock %}

    {% include "parts/footer.njk" %}
    
</body>
</html>