<!DOCTYPE html>
<html lang="pt-br">

    <head>
        {% block head %}       
        {% endblock %}
        <meta charset="UTF8">
        <link rel="stylesheet" href="/styles/style.css">
        <link rel="stylesheet" href="/styles/messages.css">
    </head>
<body>
    {% include 'parts/messages.njk' %}
    
    {% include 'parts/headerHome.njk' %}     

    {% block content %} {% endblock %}

    {% include "parts/footer.njk" %}
    
</body>
</html>
