<!DOCTYPE html>
<html lang="pt-br">

    <head>
        {% block head %}       
        {% endblock %}
        
        {% include './parts/stylesHome.njk' %} 
        
    </head>
    <body>
        {% include './parts/messages.njk' %}
        
        {% include './parts/headerHome.njk' %}     

        {% block content %} {% endblock %}

        {% include "./parts/footer.njk" %}
        
    </body>
</html>
