<!DOCTYPE html>
<html lang="pt-br">

    <head>
        {% block head %}       
        {% endblock %}
        <meta charset="UTF8">
        <link rel="stylesheet" href="/styles/style.css">
        <link rel="stylesheet" href="/styles/recipesAdmin.css">

    </head>
<body>
    <header>
        <div class="content">
            <div class="logo">  <!-- FICAR DE OLHO NESSA CLASSE PQ PODE DAR PROBLEMAS NA LARGURADA PAGINA--> 
                <img src="/images/logo_branca.png" alt="logo FoodFy"> <!--LOGO -->
            </div>
            <div class="menu">
                <a href="/"></a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
            </div>
        </div> 
    </header>

    {% block content %} {% endblock %}

    <footer>
        <p class="copy">Todos os direitos reservados, receitas Foodfy.</p>
    </footer>
            {# <script src="/scripts.js"></script> #}
</body>
</html>