{% extends "layout.njk" %}

    <head>
        {% block head %}
            <meta charset="UTF8">
            <meta name="viewport" content="width=device-widht, initial-scale=1.0">
            <link rel="stylesheet" href="/styles/style.css">
            <link rel="stylesheet" href="/styles/receitas.css">
            <title>Receitas Foodfy</title>
        {% endblock %}
    </head>

{% block content %}
    <div class="content">
        <div class="container">
                       
            <div class="cards">
                {% for item in items %}
                    <div class="card" id="{{ item.image }}" name="{{ item.title }}" chef="por {{item.author }}">
                        <img src="{{ item.image }}" alt="">
                        <h3>{{ item.title }}</h3>
                        <span>por {{item.author}}</span>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>

    <script src="scripts.js"></script>

{% endblock %}
