{% extends "layoutAdmin.njk" %}


    <head>
        {% block head %}
            <meta charset="UTF8">
            <meta name="viewport" content="width=device-widht, initial-scale=1.0">
            <title>Foodfy</title>
        {% endblock %}
    </head>

    
{% block content %}
                        
                        
    <form class="content" method="POST" action="/admin/recipes">
                            <button type="submit">Salvar receita</button>
                            
        <div class="container">
            <h2>Criando Receita</h2>
                    
            {% include 'admin/recipes/fields.njk' %}

        </div>
    </form>

{% endblock %}
    
    

   