

    <div class="cards">
        <div class="card">

            <div class="item">
                <div>Imagem da receita</div>
                <div id="images_url">
                        <div class="image_url">
                            <input type="url" name="image_url" placeholder="http://">
                        </div>
                </div>
            </div>

            <div class="item">
                <div>Ingredientes</div>
                <div id="ingredients">
                        <div class="ingredient">
                            <input type="text" name="ingredients[]" value="" placeholder="Ingredient" />
                        </div>
                    <button type="button" class="add-ingredient">Add Ingredient</button>
                </div>
            </div>

            <div class="item">
                <div>Modo de preparo</div>
                <div id="preparations">
                        <div class="preparation">
                            <input type="text" name="preparation" value="">
                        </div>
                </div>
            </div>

            <div class="item">
                <div>Informações adicionais</div>
                <div id="informations">
                    
                        <div class="information">
                            <input type="text" name="preparation" value="">
                        </div>
                </div>
            </div>  

        </div>
    </div>
