{% extends "layoutAdmin.njk" %}


    <head>
        {% block head %}
            <meta charset="UTF8">
            <meta name="viewport" content="width=device-widht, initial-scale=1.0">
            
            <title>Foodfy</title>
        {% endblock %}
    </head>

    
    {% block content %}

    <div class="content">
        
        <div class="container">
            <h2>Gerenciar receitas</h2>

                <a class="buttons" href="/admin/recipes/create">Cadastrar receita</a>

            <div class="cards">
                {# {% for receita in index.receitas %} #}
                    <div class="card">
                        <img src="/images/burger.png" alt="">
                        <h3>Triplo bacon burger</h3>
                        <span>por Jorge Relato</span><br>
                        <a href="#">Visualizar</a>                       
                    </div>
                {# {% endfor %} #}
            </div>
        </div>
    </div>

{% endblock %}
    
    

   