{% extends "layoutAdmin.njk" %}


    <head>
        {% block head %}
            <meta charset="UTF8">
            <meta name="viewport" content="width=device-widht, initial-scale=1.0">
            
            <title>Foodfy</title>
        {% endblock %}
    </head>

    
{% block content %}

    <div class="content">
        
        <div class="container">
            <h2>Gerenciar receitas</h2>

            <a class="buttons" href="/admin/recipes/create">Cadastrar receita</a>

            <div class="cards">
                {% for recipe in recipes %}
                    <div class="card">
                        <img src="{{ recipe.image }}" alt="">
                        <h3>{{ recipe.title }}</h3>
                        <span>por {{ recipe.author }}</span><br>
                        <a href="/admin/recipes/{{ recipe.id }}">Visualizar</a>                       
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
    
    

   