
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<link rel="stylesheet" href="/styles/style.css">
<link rel="stylesheet" href="/styles/messages.css">
<link rel="stylesheet" href="/styles/orders.css">
<link rel="stylesheet" href="/styles/chefsAdmin.css">
<link rel="stylesheet" href="/styles/userAdmin.css">
<link rel="stylesheet" href="/styles/recipesAdmin.css">
