:root {
    --color-rocket: #6558C3;
}
header {
    padding: 38px 0px 36px;
    display: flex;
    align-items: center;
}
header .menu {
    text-align: left;
}

header .menu a{
    font-size: 16px;
    margin-right: 30px;
}
header .menu a:hover {
    color: rgb(35, 104, 231);
    font-weight: bold;
}
header a.button { /* BOTÃO GERENCIAR */
    font-size: 16px;

    cursor: pointer;

    background-color: #4a3f9e;
    color: white;
    padding: 8px 18px;
    border-radius: 4px;
}
header a.button:hover {
    background-color: var(--color-rocket);
    color: white;
    font-weight: bold;
}
.logo img {
    position: absolute;
    left: 205px;
}

h2 {
    margin: 30px 0 20px;
}

p {
    line-height: 28px;
    color: #444444;
    
}






/*=== Footer ===*/
footer {
    background-color: #EEEEEE;
    margin-top: 50px;
    padding: 23px;
    position: absolute;
    right: 0;
    left: 0;
 
}
footer p {
    text-align: center;
    color: #999999;
    font-size: 14px;
} 