
header {
    max-width: 940px;
    margin: 0 auto;

    padding: 38px 0;
    display: flex;
    align-items: center;

    justify-content: space-between;

    margin-bottom: 36px;
}

.nav__links li {
    display: inline-block;
    padding: 0px 10px;
}
.nav__links li a {
    transition: all 0.3s ease 0s;
}
.nav__links li a:hover {
    color: var(--color-secundary);
    font-weight: bold;
}

.button:hover {
    background-color: var(--color-secundary);
    transition: all 0.3s ease 0s;
    
}

header a.button, .button { /* BOTÃO GERENCIAR */

    background-color: var(--color-rocket);
    
    color: white;
    padding: 8px 18px;
    border-radius: 4px;
    font-weight: bold;
}
header a.button:hover {
    background-color: var(--color-secundary);
    color: white;
    font-weight: bold;
}
input {
    width: 246px;
    height: 34px;
    border: 1px solid #DDDDDD ;
    border-radius: 4px;
    /* margin-right: 8px; */
}
input::placeholder {
    color: var(--color-placeholder);
    text-align: center;
}

/* === conteudo banner ===*/
.banner {
    background-color: #FBDFDB;
    border-radius: 30px;
    height: 366px;
    padding: 0 60px;
    display: flex;
    align-items: center;
    position: relative;
}

.banner__texto {
    max-width: 316px;
}

.banner__texto h1 {
    margin-bottom: 10px;
}

.banner__texto p {
    font-size: 18px;
    color: #000000;
    opacity: 0.7;
}

.banner img {
    position: absolute;
    bottom: 0;
    right: 100px;
}

/* === Cards ===*/
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 0 auto 62px;
}
.container h2 {
    margin: 50px 0 20px;
}
.card img {
    width: 100%;
    border-radius: 15px;
}
.card h3 {
    margin: 20px 5px 2px;
}
.card span {  /*config autor*/
    margin-left: 5px;
    font-size: 14px;
    color: #777777;
    margin-bottom: 30px;
}


/*=========== CHEFSList ===========*/
.cards-chefs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 0 auto 220px;
}
.card-chefs {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    column-gap: 20px;
    margin: 0px 0 30px;
}
.card-chefs img {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    
    object-fit: cover
}
.card-chefs h3 {
    margin: 20px 5px 0px;
    font-weight: bold;
}
.card-chefs spam {
    font-size: 18px;
}

.card-chefs a {
    font-family: Roboto-Bold;
    font-size: 14px;
    color: var(--color-rocket);
    font-weight: bold;
    
}
.card-chefs a:hover {
    color: var(--color-secundary);
}

span.chef {
    margin-bottom: 10px;
    font-size: 18px;
}
p.chef {
    font-size: 14px;
    color: #666666;
}

/*===BUSCA / FILTER====*/
h3.filtered {
    margin-bottom: 20px;
}
a.filtered {
    margin: 10px 5px;
    color: var(--color-rocket);
}
a.filtered:hover {
    color:var(--color-secundary);
    font-weight: bold;
}
.recipes__notFound {
    text-align: center;
    margin: 30px;
    font-size: 20px;
}


/*=== Footer ===*/
footer {
    background-color: #EEEEEE;
    margin-top: auto;
    padding: 23px;
    width: 100%;
    
}
footer p.copy, a.copy {
    text-align: center;
    color: #999999;
    font-size: 14px;
    
} 
footer a.copy {
    text-decoration: underline;
}

