:root {
    --color-rocket: #6558C3;
}

header {
    padding: 38px 0px 36px;
    display: flex;
    align-items: center;
    background-color: #111111;
    height: 80px;
    
}

header .menu {
    text-align: left;
}

header .menu a{
    font-size: 16px;
    color: white;
}
header .menu a:hover {
    color: rgb(35, 104, 231);
}
.logo img {
    display: block;
    margin-left: -470px;
} 

/* === Cards ===*/
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 0 auto;
}
.container h2 {
    margin: 50px 0 20px;
    color: #111111;
}
.card img {
    width: 100%;
    border-radius: 15px;
}
.card h3 {
    margin: 20px 5px 0px;
    font-weight: bold;
}
.card span {  /*config autor*/
    margin-left: 5px;
    font-size: 14px;
    color: #777777;
    margin-bottom: 30px;
}

.card a {
    font-family: Roboto-Bold;
    font-size: 14px;
    color: var(--color-rocket);
    font-weight: bold;
}

/*==== CREATE FORM ====*/
input {
    width: 940px;
    height: 36px;
    background: #FFFFFF;
    font-size: 16px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    border-radius: 4px;
    margin: 10px auto 0px;
    outline: none;
}
input::placeholder {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.308);
    font-weight: normal;
}


.information input {
    height: 157px;
}

button {
    font-size: 16px;
    color: var(--color-rocket);
    text-align: right;
    font-weight: bold;
    margin: 10px 0 30px;
    outline: none;

    cursor: pointer;

    background-color: var(--color-rocket);
    color: white;
    padding: 8px 18px;
    border-radius: 4px;
}

button[type="submit"],
a.buttons {
    background-color: var(--color-rocket);
    color: white;
    padding: 8px 18px;
    border-radius: 4px;
    margin: 25px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    
    position: absolute;
    top: 110px;
    right: 178px;
    
}

h2.title2 {
    margin-top: 55px;
}

/*=== Footer ===*/
footer {
    background-color: #EEEEEE;
    margin-top: 50px;
    padding: 23px;
    
}
footer p {
    text-align: center;
    color: #999999;
    font-size: 14px;
} 