
/*====NAV MENU====*/
header {
    
    margin: 0 auto;
    height: 80px;
    padding: 38px 0;
    display: flex;
    align-items: center;

    justify-content: normal;

    margin-bottom: 36px;

    background: #111111;
}
img.logo {
    margin: 0  50px  0 208px ;
}

.nav__links li {
    display: inline-block;
    padding: 0px 10px;
}
.nav__links li a {
    transition: all 0.3s ease 0s;
    color: #FFFFFF;
}
.nav__links li a:hover {
    color: var(--color-secundary);
    font-weight: bold;
}

/*====CONTEUDO====*/
.card__image img {
    border-radius: 15px;
    height: 280px;
    margin: 24px 0 50px;
    width: 940px;
}
.card__title h1 {
    text-align: center;
}
.card__title p {
    font-size: 20px;
    color: #777777;
    text-align: center;
}
.recipe__content {
    font-size: 18px;
    color: #444444;
}
.recipe__content h4 {
    font-size: 24px;
    color: #111111;
    margin-top: 32px;
    display: inline-block;
}
.recipe__content a {
    font-size: 12px;
    color: #444444;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(224, 224, 224);
    border-radius: 5px;
    display: inline-block;
}
.recipe__content ul li {
    line-height: 28px;
    color: #444444;
    list-style: circle;
    
}
.recipe__content ul {
    margin-top: 20px;
}
.recipe__content p {
    line-height: 28px;
    color: #444444;
    margin-top: 20px;
}

/* === Cards ===*/
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 0 auto;
}
.card {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    align-items: center;
    
}  
.card__text {
    margin-left: 20px;
}
.container h2 {
    margin: 50px 0 30px;
   
}
.card img {
    width: 100%;
    border-radius: 15px;
}
.card h3 {
    margin: 0 0 5px;
    font-weight: bold;
}
.card span.autor {  /*config autor*/
    font-size: 14px;
    color: #777777;
    margin-bottom: 20px;
}

.card a {
    font-family: Roboto-Bold;
    font-size: 14px;
    color: var(--color-rocket);
    font-weight: bold;
}
.card a:hover {
    color: #4a3f9e;
}


/*==== CREATE FORM ====*/
input, select {
    width: 940px;
    height: 36px;
    background: #FFFFFF;
    font-size: 16px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    margin: 0px auto 0px;
    outline: none;
}
input::placeholder {
    font-size: 16px;
    
}
select option {
    background-color: rgba(0, 0, 0, 0.1);
    font-weight: bold;
    
}
textarea {
    width: 940px;
    height: 157px;
    background: #FFFFFF;
    font-family: roboto;
    font-size: 16px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;

    margin-top: 10px;

    outline: none;
}

button {
    font-size: 16px;
    color: var(--color-rocket);
    text-align: right;
    font-weight: bold;
    margin: 10px 0 30px;
    outline: none;

    cursor: pointer;

    background-color: var(--color-rocket);
    color: white;
    padding: 8px 18px;
    border-radius: 4px;
}

button[type="submit"],
a.buttons {
    background-color: var(--color-rocket);
    color: white;
    padding: 8px 18px;
    border-radius: 4px;
    margin: 25px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    
    position: absolute;
    top: 102px;
    right: 178px;
    
}
button[type="submit"]:hover {
    background-color: var(--color-secundary);
}
a.buttons:hover {
    background-color: var(--color-secundary);
}
button.delete {
    background-color: rgb(231, 90, 90);
    /* position: absolute;
    top: 110px; */
    right: 330px;
}
button.delete:hover {
    background-color: crimson;
}

h2.title2 {
    margin-top: 55px;
}

/*=== Footer ===*/
footer {
    background-color: #EEEEEE;
    margin-top: 50px;
    padding: 23px;
    
}
footer p {
    text-align: center;
    color: #999999;
    font-size: 14px;
} 

/* ============== SHOW-HIDE ============== */

.hide {
    display: none;
    visibility: hidden;
  }


  /*=====CARD FORM=====*/

.card__form h3 {
    margin: 10px 0 10px;
    font-weight: bold;
}


.card a {
    font-family: Roboto-Bold;
    font-size: 14px;
    color: var(--color-rocket);
    font-weight: bold;
}
