.recipe {

}
.card img {
    border-radius: 15px;
    height: 280px;
    margin: 50px 0;
}
.card__title p {
    font-size: 20px;
    color: #777777;
}
.card__content {
    font-size: 18px;
    color: #444444;
}
.logo img {
    position: absolute;
    left: 210px;
}