header {
    max-width: 940px;
    margin: 0 auto;

    padding: 38px 0;
    display: flex;
    align-items: center;

    justify-content: space-between;

    margin-bottom: 36px;
}

.nav__links li {
    display: inline-block;
    padding: 0px 10px;
}
.nav__links li a {
    transition: all 0.3s ease 0s;
}
.nav__links li a:hover {
    color: var(--color-secundary);
}

.button:hover {
    background-color: var(--color-secundary);
    transition: all 0.3s ease 0s;
}

header a.button, .button { /* BOTÃO GERENCIAR */

    background-color: var(--color-rocket);
    
    color: white;
    padding: 8px 18px;
    border-radius: 4px;
}
header a.button:hover {
    background-color: var(--color-secundary);
    color: white;
    font-weight: bold;
}
input {
    width: 246px;
    height: 34px;
    border: 1px solid #DDDDDD ;
    border-radius: 4px;
    margin-right: 8px;
}
input::placeholder {
    color: var(--color-placeholder);
    text-align: center;
}


/*==== CONTEUDO ====*/
.card__image img {
    border-radius: 15px;
    height: 280px;
    margin: 24px 0 50px;
    width: 940px;
}
.card__title h1 {
    text-align: center;
}
.card__title p {
    font-size: 20px;
    color: #777777;
    text-align: center;
}
.recipe__content {
    font-size: 18px;
    color: #444444;
}
.recipe__content h4 {
    font-size: 24px;
    color: #111111;
    margin-top: 32px;
    display: inline-block;
}
.recipe__content a {
    font-size: 12px;
    color: #444444;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(224, 224, 224);
    border-radius: 5px;
    display: inline-block;
}
/* .ingredient {
    display: inline-block;
} */
.recipe__content ul li {
    line-height: 28px;
    color: #444444;
    
}
.recipe__content ul {
    margin-top: 20px;
}
.recipe__content p {
    line-height: 28px;
    color: #444444;
    margin-top: 20px;
}
/*=== Footer ===*/
footer {
    background-color: #EEEEEE;
    margin-top: 50px;
    padding: 23px;
    
}
footer p {
    text-align: center;
    color: #999999;
    font-size: 14px;
} 

/* ============== SHOW-HIDE ============== */

.hide {
    display: none;
    visibility: hidden;
  }