section.login, nav {
    max-width: 400px;

}
section.content {
    background: rgb(243, 243, 243);
    padding: 22px;

    border-radius: 4px;

    margin-top: 120px;
}

nav {
    margin: 0 auto;
    height: 80px;
    padding: 38px 0;
    display: flex;
    align-items: center;

    justify-content: center;
    margin-bottom: 36px;
}
.header {
    display: flex;
    
}
.header img {
    margin-right: 50px;

    transition: opacity 0.2s;
}
.header img:hover {
    opacity: 0.6;
}

section.login .fields {
    margin-bottom: 32px;
}

/* <-- INPUT ICON --> */
input {
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;

    transition: 2s;
}
input:focus {
    border-color:#DBD0F4;
    box-shadow: 0 0 8px 0 #DBD0F4 ;
}
.inputWithIcon input {
    padding-left: 40px;
}

.inputWithIcon {
    position: relative;
}

.inputWithIcon i {
    position: absolute;
    left: 0;
    top: 8px;
    padding: 8px 8px;
    color: #aaa;
    transition: 2s;
}

.inputWithIcon input:focus + i {
    color: #DBD0F4;
}


h4 {
    color: #333;
}

h3 {
    text-align: center;

    font-size: 24px;
    font-weight: bold;

    margin-bottom: 35px;
}

/* BUTTON LOGIN */
button {
    font-size: 16px;
    color: var(--color-rocket);
    text-align: right;
    font-weight: bold;
    outline: none;

    cursor: pointer;

    background-color: var(--color-rocket);
    color: white;
    padding: 8px 18px;
    border-radius: 4px;

    transition: 200ms;
}

button[type="submit"]:hover {
    background-color: #4a3f9e;
}


/* <-- FOOTER --> */
section.login .item {
    margin-bottom: 25px;

    font-weight: bold;
}

section.login .footer {
    display: flex;
    justify-content: space-between;

    margin-bottom: 42px;
}

section.login .footer a {
    color: #969696;

    transition: 200ms;
}
section.login .footer a:hover {
    color: black;
}

footer {
    width: 100%;
    margin-top: 82px;
}

footer {
    width: 100%;
    background-color: #EEEEEE;
    margin-top: 290px;
    padding: 23px;
    
}
footer p.copy, a.copy {
    text-align: center;
    color: #999999;
    font-size: 14px;
    
} 
footer a.copy {
    text-decoration: underline;
}