header {
    padding: 38px 0px 36px;
    display: flex;
    align-items: center;
}
header .menu {
    margin-left: 122.4px;
}

header .menu a{
    font-size: 16px;
    margin-right: 30px;
}
header .menu a:hover {
    color: rgb(35, 104, 231);
}
.logo img {
    position: absolute;
    left: 210px;
}

h2 {
    margin: 30px 0 20px;
}

p {
    line-height: 28px;
    color: #444444;
    
}






/*=== Footer ===*/
footer {
    background-color: #EEEEEE;
    margin-top: 50px;
    padding: 23px;
    position: absolute;
    right: 0;
    left: 0;
 
}
footer p {
    text-align: center;
    color: #999999;
    font-size: 14px;
} 