@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap";

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}


body {
    color: #111111;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #111111;
}

h1 {
    font-size: 32px;
    line-height: 38px;
}

h2 {
    font-size: 24px;
    line-height: 28px;
}

h3 {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

.content {
    max-width: 940px;
    margin: 0 auto;
}