@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap";

:root {
    --color-rocket: #6558C3;
    --color-secundary: #4a3f9e;
    --color-placeholder: #999999;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}


body {
    color: #111111;
    font-family: 'Roboto', sans-serif;
}

li, a, button {
    text-decoration: none;
    color: #111111;
    text-decoration: none;
    font-size: 16px;
    list-style: none;
    cursor: pointer;
}
input::placeholder {
    color: #999999;
    font-size: 14px;
}

h1 {
    font-size: 32px;
    line-height: 38px;
}

h2 {
    font-size: 24px;
    line-height: 28px;
}

h3 {
    font-size: 18px;
    font-weight: bold;
    line-height: 21px;
}

.content {
    max-width: 940px;
    margin: 0 auto;
}