{% extends "./layoutRecipes.njk" %}


{% block content %}
    <div class="content">
        <div class="header-buttons"> 
            <h2>Criando Receita</h2>
            <div class="container-buttons">
                <button form="salvar" type="submit">Salvar receita</button>
            </div>
        </div> 
        <form class="content" method="POST" id="salvar" action="/admin/recipes" enctype="multipart/form-data">

            {% include 'admin/recipes/fields.njk' %}
            
        </form>
    </div>
{% endblock %}

{% block script %}{% endblock script %}