{% extends "./layoutRecipes.njk" %}


{% block content %}
    <form class="content" method="POST" action="/admin/recipes" enctype="multipart/form-data">
        <div class="container-buttons">
            <h2>Criando Receita</h2>
            <button id="salvar" type="submit">Salvar receita</button>
        </div>

        <div class="container">
            {% include 'admin/recipes/fields.njk' %}
        </div>
    </form>
{% endblock %}

{% block script %}{% endblock script %}