{% extends "./layoutRecipes.njk" %}


{% block content %}
    <div class="content">
        <div class="forms-actions"> 
            <form action="/admin/recipes?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="container-buttons">
                    <h2>Editando Receita</h2>
                    <button type="submit" id="salvar">Salvar</button>
                    <input type="hidden" name="id" value="{{ recipe.id }}">
                </div>

                {% include 'admin/recipes/fields.njk' %}
            </form>

            <form action="/admin/recipes?_method=DELETE" method="POST" class="delete" id="delete-user">
                <button class="delete" type="submit">Deletar</button>
                <input type="hidden" name="id" value="{{ recipe.id }}">
            </form>
        </div>  
    </div>
    <script src="/scripts/deleteConfirm.js"></script>
{% endblock content %}

