{% extends "./layoutRecipes.njk" %}

{% block content %}
           
    <form action="/admin/recipes?_method=DELETE" method="POST">
        <input type="hidden" name="id" value="{{ recipe.id }}">
        <button class="delete" type="submit">Deletar</button>
    </form>
        
    <form class="content" action="/admin/recipes?_method=PUT" method="POST"  enctype="multipart/form-data" id="delete-user">
        <div class="container">
            <div class="container-buttons delete">
                <h2>Editando Receita</h2>
                <input type="hidden" name="id" value="{{ recipe.id }}">
                <button type="submit">Salvar receita</button>
            </div>

            {% include 'admin/recipes/fields.njk' %}
        </div>
    </form>   

    <script src="/scripts/deleteConfirm.js"></script>
{% endblock %}

