{% extends "layoutRecipes.njk" %}


    <head>
        {% block head %}
            <meta charset="UTF8">
            <meta name="viewport" content="width=device-widht, initial-scale=1.0">
            
            <title>Foodfy</title>
        {% endblock %}
    </head>

    
{% block content %}
    <div class="content">
        <div class="container">
            <div class="container-buttons">
                <h2>Gerenciar receitas</h2>
                <a class="buttons" id="cadastrar" href="/admin/recipes/create">Cadastrar receita</a>
            </div>
            
            <div class="cards">
                {% for recipe in recipes %}
                    <div class="card">
                        <img src="{{ recipe.image }}" alt="">
                        <div class="card__text">
                            <h3>{{ recipe.title }}</h3>
                            <span class="autor">por {{recipe.chef_name}} </span><br><br>

                            <div class="published">
                                {# <p>Criado em {{recipe.created_at}} </p>     #}
                            </div>
                            <a href="/admin/recipes/{{ recipe.id }}">Visualizar</a> 
                        </div>                      
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
{% block script %} {% endblock script %}
    
    

   