<!DOCTYPE html>
<html lang="pt-br">

    <head>
        {% block head %}       
        {% endblock %}

        {% include 'parts/stylesLogin.njk' %} 
        
    </head>
<body>
    {% include 'parts/messages.njk' %}
    
    {% include 'parts/headerLogin.njk' %}     

    {% block content %} {% endblock %}

    {% include "parts/footer.njk" %}
    
</body>
</html>