
 
    <footer>
        <p class="copy">© Todos os direitos reservados, receitas <a class="copy" href="/">Foodfy</a></p>
    </footer>
    
    <script src="/scripts/dynamicFields.js"></script> 
    <script src="/scripts/imagesUpload.js"></script> 
    <script src="/scripts/pagination.js"></script> 
    <script src="/scripts/menuActive.js"></script> 
    <script src="/scripts/validateEmail.js"></script> 

   