
 
    <footer>
        <p class="copy">© Todos os direitos reservados, receitas <a class="copy" href="/">Foodfy</a></p>
    </footer>
    <script src="/scripts/imagesUpload.js"></script> 
    <script src="/scripts/paginate.js"></script> 
    <script src="/scripts/menuActive.js"></script> 

   