
 
    <footer>
        <p class="copy">© Todos os direitos reservados, receitas Foodfy.</p>
    </footer>
    <script src="/scripts/imagesUpload.js"></script> 
    <script src="/scripts/paginate.js"></script> 

   