<header>
    <nav>
        <a href="/"><img class="logo" src="/images/logo_Branca.png" alt="logo FoodFy"></a>  <!--LOGO -->
        {# {% if session.userId %} #}
        <ul class="nav__links">
            <li><a href="/admin/recipes/">RECEITAS</a></li>
            <li><a href="/admin/chefs/">CHEFS</a></li>
            <li><a href="/admin/users/">USUÁRIOS</a></li>
            <li>
                <form action="/admin/logout" method="POST">
                    <button class="button-sair" type="submit">SAIR</button>
                </form>
            </li>
        </ul>
        {# {% endif %}     #}
    </nav>
</header>