<header>
    <a href="/"><img class="logo" src="/images/logo.png" alt="logo FoodFy"></a>    <!--LOGO -->
        
        <nav>
            <ul class="nav__links">
                <li><a href="/about">Sobre</a></li>
                <li><a href="/recipesList">Receitas</a></li>
                <li><a href="/chefsList">Chefs</a></li>
                <li><a href="/admin/login">Login</a></li>
                {% if session.is_admin %}
                <li><a href="/admin/login">Gerenciar</a></li>
                {% endif %}
            </ul>
        </nav>

        <div class="search">
            <form action="/search" method="GET">
                <input 
                    type="text" 
                    name="filter" 
                    placeholder="Buscar uma receita" 
                    value="{{filter}}"
                >
                <button class="button" type="submit">Buscar</button>
            </form>
        </div>
</header> 