<!-- Header -->
<section class="header adm">
      <div class="navbar">

          <a href="/">
            <img class="logo" src="/images/logo_branca.png" alt="logo FoodFy">
          </a>

        <div class="links">
          
            <a href="/admin/recipes">Receitas</a>
            <a href="/admin/chefs">Chefs</a>
          
            <a href="/admin/profile" >Minha conta</a>
          
        </div>
            
          <form action="/admin/logout" method="POST">
            <button class="button-sair logout" type="submit">Sair</button>
          </form>
        

      </div>
</section>